<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ sysPass
  ~
  ~ @author nuxsmin
  ~ @link https://syspass.org
  ~ @copyright 2012-2024, Rubén Domínguez nuxsmin@$syspass.org
  ~
  ~ This file is part of sysPass.
  ~
  ~ sysPass is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ sysPass is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with sysPass.  If not, see <http://www.gnu.org/licenses/>.
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.2/phpunit.xsd"
         backupGlobals="false"
         bootstrap="./bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
    <coverage>
        <report>
            <clover outputFile="./_output/coverage-clover.xml"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"
                  showOnlySummary="true"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">./Integration</directory>
        </testsuite>
    </testsuites>
    <logging/>
    <source>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
        <exclude>
            <file>../src/Domain/Config/Adapters/ConfigData.php</file>
        </exclude>
    </source>
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="zend.assertions" value="1"/>
        <!-- Keep PHP from echoing notices/deprecations (e.g. PHP 8.4 implicitly-nullable
             deprecations from test-only vendor deps) to stdout: any such output marks
             headers as sent, which breaks tests that exercise setcookie()/session_start(). -->
        <ini name="display_errors" value="0"/>
    </php>
</phpunit>
